In [24]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import random
import os
import glob
import ipywidgets
sns.set_style('white')

%matplotlib inline

plt.rcParams.update({'font.size': 14})

In [25]:
# Load data 
tennis_df = pd.read_csv("ATP.csv",  
                        dtype=str)

In [26]:
tennis_df

,best_of,draw_size,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_ace,l_bpFaced,l_bpSaved,l_df,...,winner_age,winner_entry,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed
0,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,R,NaN,110023,AUS,Richard Coulthard,NaN,NaN,NaN
1,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,27.5208761123,NaN,R,NaN,109803,AUS,John Brown,NaN,NaN,NaN
2,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.2162902122,NaN,R,NaN,100257,AUS,Ross Case,NaN,NaN,NaN
3,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.264202600999997,NaN,R,NaN,100105,AUS,Allan Stone,NaN,NaN,5.0
4,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.8617385352,NaN,R,NaN,109966,AUS,Warren Jacques,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169685,3,NaN,54.0,43.0,16.0,15.0,13.0,5.0,3.0,1.0,...,22.74,NaN,R,NaN,106426,CHI,Christian Garin,92.0,620.0,NaN
169686,3,NaN,23.0,12.0,5.0,7.0,0.0,8.0,3.0,2.0,...,20.18,NaN,R,NaN,134770,NOR,Casper Ruud,108.0,527.0,NaN
169687,3,NaN,56.0,39.0,13.0,12.0,5.0,5.0,3.0,1.0,...,28.78,NaN,L,185.0,105550,ARG,Guido Pella,48.0,975.0,3.0
169688,3,NaN,34.0,24.0,11.0,10.0,5.0,6.0,3.0,0.0,...,22.74,NaN,R,NaN,106426,CHI,Christian Garin,92.0,620.0,NaN
169689,3,NaN,35.0,26.0,9.0,11.0,5.0,7.0,3.0,4.0,...,28.78,NaN,L,185.0,105550,ARG,Guido Pella,48.0,975.0,3.0

In [27]:
# Convert numerical values to float
numeric_columns = ['w_ace', 'l_ace', 'w_df', 'l_df', 'w_bpSaved', 'l_bpSaved', 'winner_rank', 'loser_rank', 'winner_age', 'loser_age', 'winner_ht', 'loser_ht', 'w_svpt', 'l_svpt', 'minutes']
tennis_df[numeric_columns] = tennis_df[numeric_columns].astype(float)

In [28]:
# Create new columns storing year and year/month attributes
tennis_df['tourney_yearmonth'] = tennis_df.tourney_date.astype(str).str[:6]
tennis_df['tourney_year'] = tennis_df.tourney_date.astype(str).str[:4]
tennis_df['tourney_year'] = tennis_df['tourney_year'].astype(int)

In [29]:
tennis_df

,best_of,draw_size,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_ace,l_bpFaced,l_bpSaved,l_df,...,winner_hand,winner_ht,winner_id,winner_ioc,winner_name,winner_rank,winner_rank_points,winner_seed,tourney_yearmonth,tourney_year
0,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,NaN,110023,AUS,Richard Coulthard,NaN,NaN,NaN,196801,1968
1,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,NaN,109803,AUS,John Brown,NaN,NaN,NaN,196801,1968
2,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,NaN,100257,AUS,Ross Case,NaN,NaN,NaN,196801,1968
3,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,NaN,100105,AUS,Allan Stone,NaN,NaN,5.0,196801,1968
4,5,64.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,R,NaN,109966,AUS,Warren Jacques,NaN,NaN,NaN,196801,1968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169685,3,NaN,54.0,43.0,16.0,15.0,13.0,5.0,3.0,1.0,...,R,NaN,106426,CHI,Christian Garin,92.0,620.0,NaN,201902,2019
169686,3,NaN,23.0,12.0,5.0,7.0,0.0,8.0,3.0,2.0,...,R,NaN,134770,NOR,Casper Ruud,108.0,527.0,NaN,201902,2019
169687,3,NaN,56.0,39.0,13.0,12.0,5.0,5.0,3.0,1.0,...,L,185.0,105550,ARG,Guido Pella,48.0,975.0,3.0,201902,2019
169688,3,NaN,34.0,24.0,11.0,10.0,5.0,6.0,3.0,0.0,...,R,NaN,106426,CHI,Christian Garin,92.0,620.0,NaN,201902,2019
169689,3,NaN,35.0,26.0,9.0,11.0,5.0,7.0,3.0,4.0,...,L,185.0,105550,ARG,Guido Pella,48.0,975.0,3.0,201902,2019

In [23]:
@ipywidgets.interact(dimensions = ['winner_rank','loser_rank','winner_age','loser_age','winner_ht','loser_ht','w_svpt','l_svpt'])


def position(dimensions):
    tennis_df[dimensions].plot(kind='hist',title = dimensions)

interactive(children=(Dropdown(description='dimensions', options=('winner_rank', 'loser_rank', 'winner_age', '…

In [43]:
@ipywidgets.interact(country = ['ARG','ESP','SUI','USA','SRB'])

def position(country):
    s = tennis_df[(tennis_df['tourney_level'] == 'G') & (tennis_df['winner_ioc'].isin([country]))].groupby(['tourney_year','winner_ioc']).agg('count')
    plt.plot(s['tourney_id'].index.get_level_values(0), s['tourney_id'].values, color='blue', linestyle='dashed', marker='o', markerfacecolor='blue', markersize=2, label='Argentina')

interactive(children=(Dropdown(description='country', options=('ARG', 'ESP', 'SUI', 'USA', 'SRB'), value='ARG'…